<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
<img class="w3-image" src="images/beiyang01.png" alt="Me" style="width:90%">
<!--
<div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-gray w3-center">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge w3-text-cyan">JANE DOE</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap w3-text-cyan">JANE DOE</h5>
    <h3 class="w3-hide-medium w3-hide-small w3-text-cyan">PHOTOGRAPHER</h3>
</div>
-->

<div class="w3-bar w3-light-gray w3-round w3-hide-small" style="bottom:-16px">
    <a href="index.html" class="w3-bar-item w3-button">首頁</a>
    <a href="treatment.html" class="w3-bar-item w3-button">治療項目</a>
    <!-- <a href="#news" class="w3-bar-item w3-button">最新消息</a> -->
    <a href="trauma.html" class="w3-bar-item w3-button">外傷專區</a>
    <a href="contact.html" class="w3-bar-item w3-button">聯絡我們</a>
</div>
</header>

<!-- Navbar (placed at the bottom of the header image) -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
    <a href="index.html" class="w3-bar-item w3-button">首頁</a>
    <a href="treatment.html" class="w3-bar-item w3-button">治療項目</a>
    <a href="trauma.html" class="w3-bar-item w3-button">外傷專區</a>
    <!-- <a href="#news" class="w3-bar-item w3-button">最新消息</a> -->
    <a href="contact.html" class="w3-bar-item w3-button">聯絡我們</a>
</div>
</div>